#mailing_list_settings
  %h3
    =t("mailing_list_configuration")
  %p
    = edit_config 'reader.mailman.list_name'
  %p
    = edit_config 'reader.mailman.username'
  %p
    = edit_config 'reader.mailman.password'
  %p
    = edit_config 'reader.mailman.port'
  %p
    = edit_config 'reader.mailman.host'
