#mailing_list
  %p
    = f.check_box :opt_out_of_mailing_list
    = f.label :opt_out_of_mailing_list, :class => "checkbox"
  %br
    = f.check_box :mailing_list_digested
    = f.label :mailing_list_digested, :class => "checkbox"
  %br
    = f.check_box :mailing_list_notmetoo
    = f.label :mailing_list_notmetoo, :class => "checkbox"
  %br
    = f.check_box :mailing_list_nomail
    = f.label :mailing_list_nomail, :class => "checkbox"
